/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
.dashboard {
  height: 80vh;
}

.ant-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.ant-tabs-content-holder {
  width: 100%;
  height: 100%;
}

.tabs_img {
  height: 100%;
  width: 50%;
}
